.fixed{
    position: absolute;
    bottom: 50px;
    width: 72px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.fade{
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    top: 0;
}
